.title {
    font-size: 40px;
    font-weight: 700;
    font-family: Enthalpy;
    color: var(--brand-green);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}