.header {
	display: flex;
	padding: 40px 0;
	position: relative;
	justify-content: space-between;
	align-items: center;
}
.menu {
	z-index: 20;
}

.menu > button {
	background-color: transparent;
}

.navigation {
	background-color: color-mix(in srgb, var(--color-black), transparent 30%);
	backdrop-filter: blur(5px);
	position: absolute;
	top: 0;
	left: calc((100% - var(--container)) / 2 * -1);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 15;
}

@media screen and (min-width: 767px) {
	.navigation {
		position: relative;
		height: auto;
		width: auto;
	}
}
